BigFiveQ.Controls/Service References/ExamenBfqService/ExamenBfqService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://racsonp.apphb.com/services/ExamenBfqService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://racsonp.apphb.com/services/ExamenBfqService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://racsonp.apphb.com/services/ExamenBfqService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BigFiveQAdmin.Web.Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ExamenBfqService_GetAllPreguntas_InputMessage">
    <wsdl:part name="parameters" element="GetAllPreguntas" />
  </wsdl:message>
  <wsdl:message name="ExamenBfqService_GetAllPreguntas_OutputMessage">
    <wsdl:part name="parameters" element="GetAllPreguntasResponse" />
  </wsdl:message>
  <wsdl:message name="ExamenBfqService_GetAllRespuestas_InputMessage">
    <wsdl:part name="parameters" element="GetAllRespuestas" />
  </wsdl:message>
  <wsdl:message name="ExamenBfqService_GetAllRespuestas_OutputMessage">
    <wsdl:part name="parameters" element="GetAllRespuestasResponse" />
  </wsdl:message>
  <wsdl:message name="ExamenBfqService_GetExamen_InputMessage">
    <wsdl:part name="parameters" element="GetExamen" />
  </wsdl:message>
  <wsdl:message name="ExamenBfqService_GetExamen_OutputMessage">
    <wsdl:part name="parameters" element="GetExamenResponse" />
  </wsdl:message>
  <wsdl:message name="ExamenBfqService_CommitExamen_InputMessage">
    <wsdl:part name="parameters" element="CommitExamen" />
  </wsdl:message>
  <wsdl:message name="ExamenBfqService_CommitExamen_OutputMessage">
    <wsdl:part name="parameters" element="CommitExamenResponse" />
  </wsdl:message>
  <wsdl:portType name="ExamenBfqService">
    <wsdl:operation name="GetAllPreguntas">
      <wsdl:input wsaw:Action="urn:ExamenBfqService/GetAllPreguntas" message="ExamenBfqService_GetAllPreguntas_InputMessage" />
      <wsdl:output wsaw:Action="urn:ExamenBfqService/GetAllPreguntasResponse" message="ExamenBfqService_GetAllPreguntas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRespuestas">
      <wsdl:input wsaw:Action="urn:ExamenBfqService/GetAllRespuestas" message="ExamenBfqService_GetAllRespuestas_InputMessage" />
      <wsdl:output wsaw:Action="urn:ExamenBfqService/GetAllRespuestasResponse" message="ExamenBfqService_GetAllRespuestas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExamen">
      <wsdl:input wsaw:Action="urn:ExamenBfqService/GetExamen" message="ExamenBfqService_GetExamen_InputMessage" />
      <wsdl:output wsaw:Action="urn:ExamenBfqService/GetExamenResponse" message="ExamenBfqService_GetExamen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CommitExamen">
      <wsdl:input wsaw:Action="urn:ExamenBfqService/CommitExamen" message="ExamenBfqService_CommitExamen_InputMessage" />
      <wsdl:output wsaw:Action="urn:ExamenBfqService/CommitExamenResponse" message="ExamenBfqService_CommitExamen_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>