BigFiveQ.Controls/Service References/ExamenBfqService/ExamenBfqService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BigFiveQAdmin.Web.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BigFiveQAdmin.Web.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPregunta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pregunta" nillable="true" type="tns:Pregunta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPregunta" nillable="true" type="tns:ArrayOfPregunta" />
  <xs:complexType name="Pregunta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Index" type="xs:int" />
      <xs:element minOccurs="0" name="Statement" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pregunta" nillable="true" type="tns:Pregunta" />
  <xs:complexType name="ArrayOfRespuesta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Respuesta" nillable="true" type="tns:Respuesta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRespuesta" nillable="true" type="tns:ArrayOfRespuesta" />
  <xs:complexType name="Respuesta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Statement" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Respuesta" nillable="true" type="tns:Respuesta" />
  <xs:complexType name="Examen">
    <xs:sequence>
      <xs:element minOccurs="0" name="Preguntas" nillable="true" type="tns:ArrayOfPregunta" />
      <xs:element minOccurs="0" name="Respuestas" nillable="true" type="tns:ArrayOfRespuesta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Examen" nillable="true" type="tns:Examen" />
  <xs:complexType name="ArrayOfContestacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contestacion" nillable="true" type="tns:Contestacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContestacion" nillable="true" type="tns:ArrayOfContestacion" />
  <xs:complexType name="Contestacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="NumeroPregunta" type="xs:int" />
      <xs:element minOccurs="0" name="RepuestaSeleccionada" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contestacion" nillable="true" type="tns:Contestacion" />
</xs:schema>