BigFiveQ.Controls/Service References/ExamenBfqService/ExamenBfqService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://racsonp.apphb.com/services/ExamenBfqService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BigFiveQAdmin.Web.Services" />
  <xs:element name="GetAllPreguntas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPreguntasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BigFiveQAdmin.Web.Services" minOccurs="0" name="GetAllPreguntasResult" nillable="true" type="q1:ArrayOfPregunta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRespuestas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRespuestasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BigFiveQAdmin.Web.Services" minOccurs="0" name="GetAllRespuestasResult" nillable="true" type="q2:ArrayOfRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExamen">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExamenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BigFiveQAdmin.Web.Services" minOccurs="0" name="GetExamenResult" nillable="true" type="q3:Examen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitExamen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BigFiveQAdmin.Web.Services" minOccurs="0" name="contestaciones" nillable="true" type="q4:ArrayOfContestacion" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitExamenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CommitExamenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>